.cloudy { 
    position: absolute;
    background:linear-gradient( to top right, rgba(63,81,181,1) 0%,
    rgba(3,155,229 ,1) 40%);
    box-shadow: 1px 1px 30px rgba(2,119,189 ,1);
    width:100px;
    height:100px;
    border-radius: 30%;
    z-index:120;

}
.cloud {
    position: absolute;
    top:5%;
    left:70%;
    width:40px;
    height: 15px;
    border-radius:10px;
    background-color: rgba(129,212,250 ,1);
    box-shadow: 1px 1px 30px rgba(0,151,167 ,1);
    animation: move 3s infinite linear ;
}

.cloudx {
    position: absolute;
    top:23%;
    left:55%;
    width:40px;
    height: 15px;
    border-radius:10px;
    background-color: rgba(129,212,250 ,1);
    animation: move 3s infinite linear ;
}

h1{
    margin-top: 40%;
    font-size: 35px;  
}